{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Load staicfiles #}
{% load staticfiles %}

<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
      <span class="sr-only">メニュー</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">@lethe2211</a>
  </div>

  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/introduction/">プロフィール</a></li>
      <li><a href="#">外部ページ</a></li>
      <li><a href="#">リンク集</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>
    ぷろふぃーる
  </h1>
  <div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th>HN</th>
          <td>lethe2211</td>
        </tr>
        <tr>
          <th>アカウント</th>
          <td>
            <a href="https://www.facebook.com/shuhei.shogen" target="_blank"><img src="{% static "images/facebook@2x.png" %}" alt="Facebook"/></a>
            <a href="https://www.linkedin.com/in/shuhei-shogen-833397a3" target="_blank"><img src="{% static "images/linkedin@2x.png" %}" alt="LinkedIn"/></a>
            <a href="https://github.com/lethe2211" target="_blank"><img src="{% static "images/github@2x.png" %}" alt="Github"/></a>
            <a href="http://lethe2211.hatenablog.com/" target="_blank"><img src="{% static "images/hatena_blog@2x.png" %}" alt="Hatena Blog"/></a>
            <a href="http://qiita.com/lethe2211" target="_blank"><img src="{% static "images/qiita@2x.png" %}" alt="Qiita"/></a>
          </td>
        </tr>
        <tr>
          <th>年齢</th>
          <td>{{ age }}</td>
        </tr>
        <tr>
          <th>現職</th>
          <td>アプリケーションエンジニア</td>
        </tr>
        <tr>
          <th>趣味</th>
          <td>アニメ，プログラミング</td>
        </tr>
        <tr>
          <th>将来の夢</th>
          <td>ゆるーく生きたい</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1>
    つくったもの
  </h1>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>作成時期</th>
          <th>これはなに</th>
          <th>ひとこと</th>
          <th>サイトなど</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Academic search engine with a citation graph</td>
          <td>2015</td>
          <td><small>検索対象の論文の間にある引用関係をスニペットとして表示する機能を持った論文検索エンジン．</small></td>
          <td><small>修論の評価のために作成．Ruby on Rails 4による実装．Microsoft Academic APIを使って論文の引用情報を収集するが，これにかなりの時間がかかるため，1回の検索に30分以上かかる．そのため，結果をキャッシュしないと使いものにならない（研究用のアプリってこういうの多い気はするけど）．</small></td>
          <td><a href="https://github.com/lethe2211/LiteratureSearchEngine">https://github.com/lethe2211/LiteratureSearchEngine</a></td>
        </tr>      
        <tr>
          <td>ユニティちゃんエスケープ</td>
          <td>2014</td>
          <td><small>重力を操ってユニティちゃんとボックスユニティちゃんを操作するアクションゲーム．</small></td>
          <td><small>大学院の卒業制作として同期2人と合作．製作開始直前に見たサカサマのパテマというアニメ映画に大きな影響を受けている．6ヶ月程度の製作期間を経て即売会にも出展した，自分的には思い入れの深い作品．実はまだ製作途中という説も．</small></td>
          <td><a href="https://github.com/lethe2211/graduation-project">https://github.com/lethe2211/graduation-project</a></td>
        </tr>            
        <tr>
          <td>AppFountain</td>
          <td>2013</td>
          <td><small>アプリのアイデアが集まるSNSアプリ．</small></td>
          <td><small>専攻のイベントにて同期2人と合作．Androidアプリ．「何かアプリを作りたいけどネタがない人」と，「面白いアイデアはあるけど技術が使えない人」を結びつけるというのがコンセプト．SNSのDB構造って複雑なんだなという感想．</small></td>
          <td><a href="https://github.com/lethe2211/AppFountainAndroid">https://github.com/lethe2211/AppFountainAndroid</a></td>
        </tr>
        <tr>
          <td>おもひではなび</td>
          <td>2013</td>
          <td><small>iPhoneの加速度センサを使って線香花火を楽しむアプリ．</small></td>
          <td><small>某社インターンシップにて専攻の同期と合作（といっても自分はほとんどコード書いてない・・・）．「夏の終わりを楽しもう」がコンセプト．カメラロールから夏に撮った写真を抜いてきて哀愁漂う感じで表示したり，なぜかBluetoothで写真を共有できたり，謎機能が多い．<s>どうしてこうなった</s></small></td>
          <td></td>
        </tr>
        <tr>
          <td>Yossy</td>
          <td>2013</td>
          <td><small>所属していた研究室向けの蔵書管理Webアプリ．</small></td>
          <td><small>秘書さんに頼まれ，Ruby on Rails 3で実装．一応，楽天ブックスAPIで書籍情報を自動取得しようとしてみたり，バーコードからのISBN登録がしやすいインタフェースになってたりする．</small></td>
          <td></td>
        </tr>
        <tr>
          <td>Autocompletion interface</td>
          <td>2012</td>
          <td><small>インクリメンタルサーチ機能付きの検索エンジン．</small></td>
          <td><small>卒論の評価のために作成．今は亡きYahoo!検索APIと今もまだあるらしいGoogle Suggest APIを使ったマッシュアップWebアプリ．インクリメンタルサーチをイチから書いたので結構苦労したが，今はそういうインタフェースもGithubとか探せばあるんだろうか？</small></td>
          <td></td>
        </tr>      
        <tr>
          <td>クイズ！ベルトレーラー</td>
          <td>2012</td>
          <td><small>ゲーム3作目．答えが複数ある問題を与えられ，回転寿司のように流れてくる答えが○か☓かを判定していく多答クイズゲーム．</small></td>
          <td><small>C++とDxLibにより作成．自分の上達は多少は実感できた．ベルト+トレーラー=ベルトレーラーというタイトルはひそかに気に入っている．</small></td>
          <td><a href="https://github.com/lethe2211/Beltrailer">https://github.com/lethe2211/Beltrailer</a></td>
        </tr>
        <tr>
          <td>サークルウェブサイト</td>
          <td>2012</td>
          <td><small>ゲーム制作サークルに入っていた時に依頼されて作ったウェブサイト．</small></td>
          <td><small>古き良き香りがする．やってた時はメニューのデザインとかも結構凝ったような気がするが，古き良き香りがする．他人に運用されることを考えてコメントを多めにつけたつもり．Chromeで見るとdivがかぶるので誰か直して欲しい．</small></td>
          <td><a href="http://matsutei.web.fc2.com/">http://matsutei.web.fc2.com/</a></td>
        </tr>      
        <tr>
          <td>かえるの兄弟</td>
          <td>2011</td>
          <td><small>スーパードンキーコング3のミニゲームを<s>パクった</s>オマージュした記憶ゲー．</small></td>
          <td><small>「HTML5+CSS+JavaScriptでゲームができる」らしいことを本を読んで知ったので作ってみた．JSが重すぎてロード時間が1問あたり5秒近くかかる．本格的にWeb関連の技術を使ったのはこれが初めてな気がする．</small></td>
          <td></td>
        </tr>
        <tr>
          <td>教科書4択！！</td>
          <td>2010</td>
          <td><small>当時流行りの教科書クイズに影響を受けて作った，高校教科書レベルのクイズゲーム．</small></td>
          <td><small>覚えたてのC言語とDXLibを使って作ったゲーム処女作．問題文と正解がすべてハードコードしてあったり，音が○☓しかなかったりいろいろヤバイ．</small></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
